<!DOCTYPE html>
<html>
  <head>
    <title>Instagram Profile</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="container">
      <div class="profile">
        <img src="profile-picture.jpg" alt="Profile Picture" class="profile-picture">
        <div class="profile-info">
          <h1 class="username">username</h1>
          <div class="stats">
            <div class="posts">
              <span class="number">10</span>
              <span class="label">posts</span>
            </div>
            <div class="followers">
              <span class="number">100</span>
              <span class="label">followers</span>
            </div>
            <div class="following">
              <span class="number">50</span>
              <span class="label">following</span>
            </div>
          </div>
          <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget bibendum eros. Vestibulum tincidunt condimentum dolor, at faucibus lectus. Sed consequat urna vel purus sodales, ac pulvinar neque tincidunt. Curabitur congue hendrerit odio id gravida.</p>
        </div>
      </div>
    </div>
  </body>
</html>