@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");
body {
  
    background-color: #e7ecf0;
    word-wrap: break-word;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


nav {
    font-family: "Bree Serif", serif;
    background-color: #cbe4f4;
    /*nav bar color*/
}

.navbar-nav a {
    font-weight: bold;
    color: rgb(108, 104, 104);

}

.content-box {
    background-color: #ffffff;
    margin-bottom: 0px;
}

.new-tweet-row {
  
    background-color: #eaf5fe;
    
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.tweet {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #edf1f4;
    /*color line*/
    
}

.tweet-info {
   font-family: "Bree Serif", serif;
    word-wrap: break-word;
    max-width: 57ch;

}

.tweet-username {
    font-family: "Bree Serif", serif;

    font-weight: bold;
    color: #0c195f;
}

.tweet-usertag {
    font-family: "Bree Serif", serif;
    
    
}

.tweet-arrow {
    position: absolute;
    left: 90%;
    padding-right: 25px;
}

.tweet-text,
.tweet-media {

    word-break: break-word;
    font-size: 26px;
    padding-right: 10px;
}

/*span a container for date */
.tweet-age {
    font-family: "Bree Serif", serif;
    position: relative;
}

.username {
    margin-left: 0.5rem;
    font-weight: bold;
}

.tweet-age:before {
    content: attr(data-text);
    position: absolute;
    font-size: small;
    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* move to right */
    left: 60%;
    margin-left: 10px;
    /* and add a small left margin */

    /* basic styles */
    width: 160px;

    padding: 5px;
    border-radius: 10px;
    background: #f9f6f6;
    color: #000000;
    text-align: center;

    display: none;
    /* hide by default */
}

.tweet-age:hover {
    border-bottom: 1px solid #000000;
}

.tweet-age:hover:before {
    display: block;
}

.profile-header {
  
  background: #fff;
  width: 100%;  
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.profile-img {
  float: left;
  width: 340px;
  height: 200px;
}

.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 5px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 80px;
  top: 20px;
  z-index: 5;
  background: #fff;
}

.profile-nav-info {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  /* align-items: center; */
  
}

.profile-nav-info h3 {
  font-family: "Bree Serif", serif;
  font-size: 3rem;
  font-weight: bold;
}

.profile-detail{
  font-family: "Bree Serif", serif;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-right: 50px;
  
}
.profile-detail p {
  padding-top: 5px;
  padding-right: 20px;
  /* margin-bottom: 20px; */
  color: #333;
  font-size: 20px;

}
.profile-detail p i {
  color: #939393;
  margin-right: 10px;
}


.main-bd {
  width: 100%;
  display: flex;
  
}

.profile-side {
  width: 370px;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 80px 30px 20px;
  font-family: "Bree Serif", serif;
  margin-left: 10px;
  z-index: 99;
  text-align: center;
}

.profile-side p {
 
  margin-bottom: 20px;
  color: #333;
  font-size: 20px;

}

.profile-side p i {
  color: #b9b8b8;
  margin-right: 10px;
}

.mobile-no i {
  transform: rotateY(180deg);
  color: #e40046;
}

.profile-btn {
  display: flex;
}

button.chatbtn,
button.createbtn {
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: #e0e0e0;
  color: #1f1f1f;
  font-family: "Bree Serif";
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

button.chatbtn:hover,
button.createbtn:hover {
  background: #b3b3b3;
}

button.chatbtn i,
button.createbtn i {
  margin-right: 5px;
}
.chatbtn a{
   color: inherit;
   text-decoration: none;
}




@media (max-width: 1100px) {
  body {
    margin: 0 20px;
  }

  .profile-header {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }

  .profile-img {
    float: left;
    width: 100%;
    height: 200px;
  }

  .profile-img img {
    position: relative;
    height: 200px;
    width: 200px;
    left: 0px;
  }
  .profile-detail{
    padding-left: 80px;
  }


  .main-bd {
    flex-direction: column;
    padding-right: 0;
  }

  .profile-side {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 5px 0;
    
  }

}

@media (max-width: 400px) {
  body {
    margin: 10;
  }
  .profile-detail{
    padding-left: 5px;
  }
.tweet-info {
    word-wrap: break-word;
    max-width: 57ch;
   
}

.tweet-username {
    
    padding-left: 10px;
}

.tweet-arrow {
    position: absolute;
    left: 85%;
    
}

.tweet-text,
.tweet-media {
    padding-left: 10px;
    text-align: center;
}
 
}

#subscribe{
    font-family: "Bree Serif", serif;
    background-color: #e40046;
    color: white;
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    font-size: smaller;
    border-radius: 90px;
    cursor: pointer;
}

#subscribe:hover{
  background-color: #fb1f1f;
}

button {
    background-color: #67b1f9;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: smaller;
    border-radius: 90px;
    cursor: pointer;
}

input[type=submit]{
  
  background-color: #67b1f9;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: smaller;
  border-radius: 90px;
  cursor: pointer;
  margin-right: 10px;
  
}

input[type=submit]:hover,
#submit_form:hover {
    background-color: #93d2fb;
}

#add_blog, #add_blog_notAuth {
    font-family: "Bree Serif", serif;
    left: 10%;
    width: 80%;
    border: none;
    outline: none;
    font-size: larger;
    background-color: #88c4f5;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 90px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#add_blog:hover, #add_blog_notAuth:hover  {
    color: #0099ff;
    background-color: #cecfd4;
    transform: scale(1.15);
    transition-delay: 0s;
    transition-duration: 0.5s;
}

#submit_form,
#clear_form,
#cancel_form {
    font-family: "Bree Serif", serif;
    float: right;
    margin-right: 10px;
    
    font-size:medium;
    border-radius: 90px;
    
}

#submit_form:hover,
#clear_form:hover,
#cancel_form:hover {
    background-color: #93d2fb;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}



.dropdown {
  position: relative;
  float: right;
  margin-right: 3%;

}

.dropdown-menu {
  border-radius: 10%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-item i {
  padding-right: 8px;
}

.dropdown-item:hover {
  color: #1933c7;
  background-color: #a3a2a2;

}